# Automatically normalize line endings for all text files.
* text=auto

# Confirm that PHP, HTML, and SQL files will be processed as text and will remain UTF-8.
*.php text
*.html text
*.sql text

# Ensure that the files in the image folder are saved as binary files.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
